<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <connectionStrings>
        <add name="AtsWmsS2TaskConfirmationService.Properties.Settings.ats_tata_metallics_dbConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ats_tata_metallics_db;User ID=ats-india;Password=Ats123*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <appSettings>
    <!--<add key="IP_ADDRESS" value="10.255.20.27"/>-->
    <add key="IP_ADDRESS" value="172.16.67.60"/>
  </appSettings>

  <log4net>

    <!--1. service class-->
    <appender name="AtsWmsS2TaskConfirmationServiceDebug" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\\ATS_WMS_LOGS_ROOT\\AtsWmsS2TaskConfirmationService\\AtsWmsS2TaskConfirmationService\\Debug\\AtsWmsS2TaskConfirmationServiceDebug.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="dd-MMMM-yyyy"/>
      <maxSizeRollBackups value="100"/>
      <maxDateRollBackups value="3"/>
      <maximumFileSize value="50MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="DEBUG"/>
      </filter>
      <filter class="log4net.Filter.DenyAllFilter"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="AtsWmsS2TaskConfirmationServiceError" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\\ATS_WMS_LOGS_ROOT\\AtsWmsS2TaskConfirmationService\\AtsWmsS2TaskConfirmationService\\Error\\AtsWmsS2TaskConfirmationServiceError.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="dd-MMMM-yyyy"/>
      <maxSizeRollBackups value="100"/>
      <maxDateRollBackups value="3"/>
      <maximumFileSize value="50MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="ERROR"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>

    <logger name="AtsWmsS2TaskConfirmationService">
      <appender-ref ref="AtsWmsS2TaskConfirmationServiceError"/>
      <appender-ref ref="AtsWmsS2TaskConfirmationServiceDebug"/>
    </logger>



    <!--2. Business class-->
    <appender name="AtsWmsS2TaskConfirmationServiceDetailsDebug" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\\ATS_WMS_LOGS_ROOT\\AtsWmsS2TaskConfirmationService\\AtsWmsS2TaskConfirmationServiceDetails\\Debug\\AtsWmsS2TaskConfirmationServiceDetailsDebug.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="dd-MMMM-yyyy"/>
      <maxSizeRollBackups value="100"/>
      <maxDateRollBackups value="3"/>
      <maximumFileSize value="50MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="DEBUG"/>
      </filter>
      <filter class="log4net.Filter.DenyAllFilter"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="AtsWmsS2TaskConfirmationServiceDetailsError" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\\ATS_WMS_LOGS_ROOT\\AtsWmsS2TaskConfirmationService\\AtsWmsS2TaskConfirmationServiceDetails\\Error\\AtsWmsS2TaskConfirmationServiceDetailsError.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="dd-MMMM-yyyy"/>
      <maxSizeRollBackups value="100"/>
      <maxDateRollBackups value="3"/>
      <maximumFileSize value="50MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="ERROR"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>

    <logger name="AtsWmsS2TaskConfirmationServiceDetails">
      <appender-ref ref="AtsWmsS2TaskConfirmationServiceDetailsError"/>
      <appender-ref ref="AtsWmsS2TaskConfirmationServiceDetailsDebug"/>
    </logger>

    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>

  </log4net>

</configuration>